@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$orange: #f1ae48;
$grey: #535353;
$black: #272727;
$white: #ffffff;
$red: #FB6868;

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

input[type="text"], input[type="password"], textarea, select {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: transparent;
}

.base-dk-yellow {
  color: #e1a73b;
}

.base-dk-yellow {
  color: #fbcc67;
}

.d-none {
  display: none;
}

.op-1 {
  opacity: 1;
}
