@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$orange: #f1ae48;
$grey: #535353;
$black: #272727;
$white: #ffffff;

* {
  box-sizing: border-box;
}

input[type="text"], input[type="password"], textarea, select {
  outline: none;
}

.base-dk-yellow {
  color: #e1a73b;
}

.base-dk-yellow {
  color: #fbcc67;
}

.d-none {
  display: none;
}

.op-1 {
  opacity: 1;
}
