
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$orange: #f1ae48;
$grey: #535353;
$black: #272727;
$white: #ffffff;
$red: #FB6868;

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

div,h1,h2,h3,h4,h5,h6,section,aside {
  color: #fff8dc;
}

input[type="text"], input[type="password"], textarea, select {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: transparent;
}

.base-dk-yellow {
  color: #e1a73b;
}

.base-dk-yellow {
  color: #fbcc67;
}

.d-none {
  display: none;
}

.op-1 {
  opacity: 1;
}

.no-ptr-events {
  pointer-events: none;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #777777 radial-gradient(circle, transparent 1%, #343434 1%) center/15000%;
}
.ripple:active {
  outline: none;
  background-color: #646464;
  background-size: 100%;
  transition: background 0s;

  img {
    user-select: none;
    outline: none;
  }
}
